body {
  background: #0f111a;
  color: #f8f8f2;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-top: 20px;
}

#particles-container canvas {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
}

#header {
  margin-top: -20px;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#page-title {
  color: #ffb454;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  margin-left: 20px;
}

.lead {
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  color: #59c2ff;
}

.sinalization {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-color: #44475a;
  border-width: 2px;
  border-style: solid;
  background-color: #282a36;
  margin-left: 20px;
  margin-top: -130px;
}
.sinalization-rect {
  width: 2px;
  height: 50px;
  background-color: #44475a;
  margin-left: 45px;
}
#body {
  margin-top: 0;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(135deg, #1b1d23, #282a36, #1b1d23);
  border: 2px solid #44475a;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

h2 {
  color: #59c2ff;
  margin-top: 15px;
  font-size: 1.8em;
}

a {
  color: #8be9fd;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

/* Ajustar posição dos elementos em lista */
li {
  margin-top: 15px;
}
.social-icon {
  filter: invert(1) grayscale(100%) brightness(100%);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.project-card {
  visibility: hidden;
  background: #282a36;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #44475a;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.project-title {
  color: #8be9fd;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-description {
  color: #f8f8f2;
}

ul {
  list-style-type: none;
  padding: 0;
}
