body {
  background: #0f111a;
  width: 100%;
  height: 100%;
  color: #f8f8f2;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#particles-container canvas {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
}

#header {
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#page-title {
  color: #ffb454;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  margin-left: 20px;
}

.lead {
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  color: #59c2ff;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(135deg, #1b1d23, #282a36, #1b1d23);
  border: 2px solid #44475a;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

/* ... */
h2 {
  color: #59c2ff;
  margin-top: 15px;
  font-size: 1.8em;
}
a {
  color: #8be9fd;
  text-decoration: none;
}

/* Projects list */
.projects-list {
  display: flex;
  scroll-snap-type: x proximity;
  overflow-x: auto;
  margin-top: 15px;
}

.project-card {
  flex: 1 0 90%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  scroll-snap-align: center;
  margin-right: 10px;
  background: #282a36;
  border-radius: 12px;
  padding: 20px;
  border: 2px solid #44475a;
  box-sizing: border-box;
}

.project-title {
  color: #8be9fd;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-description {
  color: #f8f8f2;
}

/* Contact */
.social-icon {
  filter: invert(1) grayscale(100%) brightness(100%);
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.contact ul {
  list-style-type: none;
  padding: 0;
}
.contact li {
  margin-top: 15px;
}
