<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Kaic Salomão - Página pessoal</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <!-- Favicon-->
    <link
      rel="icon"
      href="{{ url_for('static', filename='icons/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='site.webmanifest') }}"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>
    <div id="particles-container"></div>
    <div class="container">
      <section id="header">
        <h1 id="page-title">Kaic Salomão 👨‍💻</h1>
        <p class="lead">Desenvolvedor full-stack e entusiasta da tecnologia</p>
      </section>
      <div class="rect"></div>
      <section id="body">
        <div class="content">
          <div class="about">
            <h2>Sobre mim</h2>
            <p id="about-description">
              Sou um desenvolvedor apaixonado por programação! Tenho experiência
              em criar aplicações Android e sistemas Back-end de alto nível. Sempre
              buscando aprender novas ferramentas e técnicas para melhorar
              minhas habilidades e projetos.
            </p>
          </div>
          <div class="projects">
            <h2>Projetos</h2>
            <ul>
              <li class="project-card">
                <h3 class="project-title">
                  <a href="https://github.com/kaicsm/portfolio">Portfólio</a>
                </h3>
                <p class="project-descrition">
                  Você está experimentando este projeto agora mesmo! Este é o
                  meu portfólio escrito em Python com Flask.
                </p>
              </li>
              <li class="project-card">
                <h3 class="project-title">
                  <a href="https://github.com/kaicsm/welcome-rs"
                    >Welcome Rust</a
                  >
                </h3>
                <p class="project-descrition">
                  Uma aplicação escrita em Rust que reúne meus conhecimentos
                  nessa linguagem de programação.
                </p>
              </li>
              <li class="project-card">
                <h3 class="project-title">
                  <a href="https://github.com/kaicsm/dracula-androidide"
                    >Dracula-AndroidIDE</a
                  >
                </h3>
                <p class="project-descrition">
                  Tema Dracula feito para o AndroidIDE, uma ferramenta poderosa
                  para criação de aplicativos no próprio Android.
                </p>
              </li>
            </ul>
          </div>
          <div class="contact">
            <h2>Contato</h2>
            <p>
              Entre em contato via e-mail em ikaicsh@gmail.com ou siga-me nas
              redes sociais:
            </p>
            <ul>
              <li>
                <a href="https://instagram.com/eukaiic"
                  ><img
                    src="{{url_for('static', filename='icons/instagram.svg')}}"
                    alt="Instagram Icon"
                    class="social-icon"
                  />
                  Instagram</a
                >
              </li>
              <li>
                <a href="https://github.com/kaicsm"
                  ><img
                    src="{{url_for('static', filename='icons/github.svg')}}"
                    alt="GitHub Icon"
                    class="social-icon"
                  />
                  Github</a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <script>
      particlesJS.load(
        "particles-container",
        "{{ url_for('static', filename='particles.json') }}",
        function () {
          console.log("particles.json has loaded");
        },
      );
      ScrollReveal().reveal(".about", { delay: 200 });
      ScrollReveal().reveal("#about-description", { delay: 200 });
      ScrollReveal().reveal(".projects", { delay: 200 });
      ScrollReveal().reveal(".project-card", { delay: 200 });
      ScrollReveal().reveal(".contact", { delay: 200 });
      ScrollReveal().reveal("ul", { delay: 200 });
    </script>
  </body>
</html>
