<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Kaic Salomão</title>
    <!-- Referenciar o arquivo externo de estilo -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Criar um elemento de cabeçalho -->
    <header>
        <!-- Criar um elemento de título -->
        <h1 id="titulo">Olá, eu sou Kaic Salomão</h1>
        <!-- Criar um elemento de parágrafo -->
        <p id="introducao">Esta é a minha página pessoal, onde eu vou compartilhar um pouco sobre mim.</p>
    </header>
    <!-- Criar um elemento principal -->
    <main>
        <!-- Criar um elemento de seção -->
        <section id="quem-sou-eu">
            <!-- Criar um elemento de subtítulo -->
            <h2>Quem sou eu</h2>
            <!-- Criar um elemento de parágrafo -->
            <p>Eu sou um entusiasta da programação! Desde meus onze anos, sempre escrevi código, me aperfeiçoei e melhorei durante esse tempo de experiência</p>
        </section>
        <!-- Criar outro elemento de seção -->
        <section id="o-que-eu-faco">
            <!-- Criar outro elemento de subtítulo -->
            <h2>O que eu faço</h2>
            <!-- Criar outro elemento de parágrafo -->
            <p>Atualmente, me comprometo em fazer sistemas back-end de alto nível, com foco em desempenho e segurança</p>
        </section>
        <!-- Criar mais um elemento de seção -->
        <section id="o-que-eu-gosto">
            <!-- Criar mais um elemento de subtítulo -->
            <h2>O que eu gosto</h2>
            <!-- Criar mais um elemento de parágrafo -->
            <p>Eu adoro jogar DDNet!</p>
        </section>
    </main>
    <!-- Criar um elemento de rodapé -->
    <footer>
        <!-- Criar um elemento de navegação -->
        <nav id="contato">
            <!-- Criar um elemento de lista não ordenada -->
            <ul>
                <!-- Criar um elemento de item de lista -->
                <li>
                    <!-- Criar um elemento de link -->
                    <a href="https://www.instagram.com/eukaiic/" target="_blank">Contate-me no instagram! @eukaiic</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>


