body {
  background: #0f111a;
  width: 100%;
  height: 100%;
  color: #f8f8f2;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#particles-container canvas {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
  filter: blur(3px);
  z-index: -1;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px 0;
}

#header-image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.lead {
  width:  80%;
  height: max-content;
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
  color: #59c2ff;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
  	opacity: 0;
  }
  100% {
  	opacity: 1;
  }
}

.header-description {
  font-size: 0.9em;
  margin-top: 0;
  color: #a9aaab;
}

.content {
  padding: 20px;
  background: transparent;
}

#about-description {
	color: #cdd0d4;
}
/* ... */
h2 {
  color: #59c2ff;
  margin-top: 15px;
  font-size: 1.8em;
}

a {
  color: #8be9fd;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #8be;
}

/* Line Ligature */
.more-information {
  display: flex;
  flex-direction:row;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.more-information p {
  font-size: 0.9em;
  color: #a9aaab;
  margin-left: 10px;
  margin-top: 15px;
}
.line-ligature {
  height: 400px;
  width: 3px;
  background: #59c2ff;
  border-radius: 50%;
}
.line-aditional {
  width: 30px;
  height: 2px;
  background: #59c2ff;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* Projects */
.projects-list {
  display: flex;
  scroll-snap-type: x proximity;
  overflow-x: auto;
  margin-top: 15px;
}

.project-card {
  flex: 1 0 90%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  scroll-snap-align: center;
  margin-right: 10px;
  background: #282a36;
  border-radius: 8px;
  padding: 20px;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.project-title {
  color: #8be9fd;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-description {
  color: #cdd0d4;
}

/* Tags */
.project-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-self: flex-start;
}

.project-card ul li p {
  font-family: monospace;
  font-size: 0.8rem;
  display: inline-block;
  border: 1px solid #8be9fd;
  background-color: transparent;
  color: #f8f8f2;
  border-radius: 10px;
  margin-right: 5px;
  padding: 3px 5px;
}

/* Contact */
.social-icon {
  filter: invert(1) grayscale(100%) brightness(100%);
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.contact ul {
  list-style-type: none;
  padding: 0;
}
.contact li {
  margin-top: 15px;
}
